.product_img {
  position: relative;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  z-index: 0;
}

.ani {
  cursor: pointer;
  position: relative;
  z-index: 10;

  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(5); /* Safari */
  transform: scale(5); /* 标准语法 */
}
